@import 'fonts.css';
ul{
    list-style:none;
}
.trendMenu{
    margin-top:62px;
    overflow:hidden;
    padding-left:10px;
    height:43px;
    li{
        float:left;
        width:50%;
        a,span{    
            text-decoration: none;
            font-family: 'MonumentGrotesk-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            color: #000000;
            opacity: 0.2;

        }
        span{
            font-size:16px;
            span{
                text-decoration:underline;
            }
        }
    }
    li.active{
        a,span{
            opacity:1;
        }        
    }
}
.trendMenu.fullWidth{
    width:100%;
    li{
        width:100%;
    }
}
.productBlock{
    overflow:hidden;
    margin-bottom:24px;
    img.productImage{
        width:100%;
        margin-bottom:10px;
    }
    
    div.frame{
        float:left;
        width:109px;
        cursor:pointer;
        height:55px;
        position:relative;
        text-align: center;
        cursor:pointer;
        span.frameIcon{
            width:14px;
            height:14px;
            display:inline-block;
            margin:auto;
            cursor:pointer;
            background:url('../assets/icons/frame.svg');            
            transition: all 0.3s ease;
        }
        .frametext{
            font-family: 'MonumentGrotesk-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            font-feature-settings: 'salt' on;
            color: #000000;
            display:block;
            opacity:0;
            position:absolute;
            bottom:0;
            width:100%;
            text-align: center;
            transition: all 0.3s ease;
        }
       
    }
    div.frame:hover{
        span.frameIcon{
            background:url('../assets/icons/frameHover.svg');
        }
        .frametext{
            opacity:1;
        }
    }
    div.author{
        float:left;
        p{
            font-family: 'MonumentGrotesk-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            margin:0px;
        }
        p.size{
            font-family: 'MonumentGrotesk-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #CCCCCC;
        }
    }
    span.price{
        float:right;
        font-family: 'MonumentGrotesk-Medium';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #000000;
        min-width:109px;
    }
}
.content{
    padding-left:10px;
    padding-right:10px;
}
.productPaginate{
    a{
        min-width:109px;
        text-align: left;
        font-family: 'MonumentGrotesk-Medium';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-decoration:none;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #000000;
        border-bottom:1px solid #000;
        display:inline-block;
        transition: all 0.7s ease;
        padding:10px 38px;
    }
    a:hover{
        min-width:100%;
    }
    .prevPage a{
        cursor:pointer;
        float:left;
    }
    .centerPage{
        text-align: center;
        a{
            text-align: center;
        }
    } 
    .nextPage a{
        float: right;
        text-align: right;
        cursor:pointer;
    }
}
.allMenu{
    li{
        width:16%;
        text-align: center;
    }
    li:first-child{
        text-align: left;
        width:10%;
    }
    li:last-child{
        width:10%;
        text-align: right;
    }
}
.logos{
    padding-left:10px;
    padding-top:64px;
    img{
        height:52px;
    }
    .slick-slide{
        height:52px;
        padding:0px;
    }
}
.passiveGrid{
    display:none;
}
.pageHeading{
    font-family: 'Loos Normal';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    font-feature-settings: 'salt' on;
    color: #000000;
    text-align: left;
    padding-top:106px;
    padding-left:8px;
}
.searchFArtist{
    margin-top:230px;
    padding-left:10px;
    padding-right:10px;
    width:100%;
    position:relative;
    button{
        width:28px;
        height:28px;
        background:url('../assets/icons/searchIcon.svg')no-repeat;
        border:0px;
        cursor:pointer;
        position:absolute;
        z-index: 1;
        bottom:8px;
    }
    input{
        padding-left:32px;
        position:relative;
        border:0px;       
        border-bottom: 1px solid #000000;
        width:100%;
        font-family: 'Loos Normal';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        font-feature-settings: 'salt' on;
        color: #000000;
    }
}
.artistsPage{
    padding-top:16px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:105px;
    .group{
        margin-bottom:24px;
    }
}
.artistFullPage{
    padding-left:10px;
    padding-top:74px;
    .bio{
        display:flex;
        justify-content: space-between;
        h1{
            font-family: 'Loos Normal';
            font-style: normal;
            font-weight: 400;
            font-size: 72px;
            line-height: 72px;
            font-feature-settings: 'salt' on;
            color: #000000;
        }
        .bioText{
            font-family: 'MonumentGrotesk-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            font-feature-settings: 'salt' on;
            color: #000000;
            max-width:450px;
        }
        .bioImg{
            width:109px;
            margin-right:129px;
        }
    }
    h2{
        font-family: 'Pragmatica';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 24px;
        font-feature-settings: 'salt' on;
        color: #000000;
        margin-bottom:10px;
    }

}
.ibioArtworks{
    padding-left:10px;
    padding-right:10px;
    
}