@import 'fonts.css';
ul{
    list-style:none;
}
.trendMenu{
    margin-top:62px;
    overflow:hidden;
    padding-left:0px;
    height:43px;
    li{
        float:left;
        width:50%;
        a,span{    
            text-decoration: none;
            font-family: 'MonumentGrotesk-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            color: #000000;
            opacity: 0.2;

        }
        span{
            font-size:16px;
            span{
                text-decoration:underline;
            }
        }
    }
    li.active{
        a,span{
            opacity:1;
        }        
    }
}
.productGrid .col-4{
    padding-left:5px;
    padding-right:5px;
}
.trendMenu.fullWidth{
    width:100%;
    li{
        width:100%;
    }
}
span.frameIcon{
    width:14px;
    height:14px;
    display:inline-block;
    margin:auto;
    cursor:pointer;
    background:url('../assets/icons/frame.svg');            
    transition: all 0.3s ease;
}
span.shareIcon{
    width:14px;
    height:14px;
    display:inline-block;
    margin:auto;
    cursor:pointer;          
    transition: all 0.3s ease;
    background:url('../assets/icons/share.png');            
}
.productBlock{
    position: relative;
    overflow:hidden;
    margin-bottom:24px;
    .edit, .remove{
        position:absolute;
        opacity:0;
        transition:all 0.5s;
        right:8px;
        top:8px;
        cursor:pointer;
    }
    .edit{
        right:32px;
    }
    img.productImage{
        width:100%;
        margin-bottom:10px;
    }
    
    div.frame{
        float:left;
        width:109px;
        cursor:pointer;
        height:55px;
        position:relative;
        text-align: center;
        cursor:pointer;
        
        .frametext{
            font-family: 'MonumentGrotesk-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            font-feature-settings: 'salt' on;
            color: #000000;
            display:block;
            opacity:0;
            position:absolute;
            bottom:0;
            width:100%;
            text-align: center;
            transition: all 0.3s ease;
        }
       
    }
    div.frame:hover, div.frame.active{
        span.frameIcon{
            background:url('../assets/icons/frameHover.svg');
        }
        .frametext{
            opacity:1;
        }
    }

    div.author{
        float:left;
        p{
            font-family: 'MonumentGrotesk-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            margin:0px;
        }
        p.size{
            font-family: 'MonumentGrotesk-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #CCCCCC;
        }
    }
    span.price{
        float:right;
        font-family: 'MonumentGrotesk-Medium';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #000000;
        min-width:109px;
    }
}
.productBlock:hover{
    .edit,.remove{
        opacity:1;
    }
}
.newsletterForm{
    max-width:276px;
}
.comeSee{
    max-width: 171px;
}
.content{
    padding-left:10px;
    padding-right:10px;
}
#forStickyPos.row{
    position:absolute;
    width:100%;
}
#forStickyPos.row.sticky{
    width:100%;
    z-index: 10;
    position:fixed;
    top:30px;
    background-color: white;
    .trendMenu{
        margin-top:0px;
    }
}
#galP{
    padding-top:117px;
}
.productPaginate{
    a{
        min-width:109px;
        text-align: left;
        font-family: 'MonumentGrotesk-Medium';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-decoration:none;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #000000;
        border-bottom:1px solid #000;
        display:inline-block;
        transition: all 0.7s ease;
        padding:10px 38px;
    }
    a:hover{
        min-width:100%;
    }
    .prevPage a{
        cursor:pointer;
        float:left;
    }
    .centerPage{
        text-align: center;
        a{
            text-align: center;
        }
    } 
    .nextPage a{
        float: right;
        text-align: right;
        cursor:pointer;
    }
}
.allMenu{
    li{
        width:16%;
        text-align: center;
    }
    li:first-child{
        text-align: left;
        width:10%;
    }
    li:last-child{
        width:10%;
        text-align: right;
    }
}
.logos{
    padding-left:10px;
    padding-top:64px;
    img{
        height:52px;
    }
    .slick-slide{
        height:52px;
        padding:0px;
    }
}
.passiveGrid{
    display:none;
}
.pageHeading{
    font-family: 'Loos Normal';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    font-feature-settings: 'salt' on;
    color: #000000;
    text-align: left;
    padding-top:106px;
    padding-left:8px;
}
.searchFArtist{
    margin-top:230px;
    padding-left:10px;
    padding-right:10px;
    width:100%;
    position:relative;
    button{
        width:28px;
        height:28px;
        background:url('../assets/icons/searchIcon.svg')no-repeat;
        border:0px;
        cursor:pointer;
        position:absolute;
        z-index: 1;
        bottom:8px;
    }
    input{
        padding-left:32px;
        position:relative;
        border:0px;       
        border-bottom: 1px solid #000000;
        width:100%;
        font-family: 'Loos Normal';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        font-feature-settings: 'salt' on;
        color: #000000;
    }
}
.artistsPage{
    padding-top:16px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:105px;
    .group{
        margin-bottom:24px;
    }
    a{
        font-family: 'MonumentGrotesk-Regular';
        font-weight: 400;
font-size: 16px;
line-height: 20px;

font-feature-settings: 'salt' on;


color: #000000;
    }
}
.artistFullPage{
    padding-left:10px;
    padding-top:74px;
    .bio{
        display:flex;
        justify-content: space-between;
        h1{
            font-family: 'Loos Normal';
            font-style: normal;
            font-weight: 400;
            font-size: 72px;
            line-height: 72px;
            font-feature-settings: 'salt' on;
            color: #000000;
        }
        .bioText div{
            font-family: 'MonumentGrotesk-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            font-feature-settings: 'salt' on;
            color: #000000;
            max-width:450px;
        }
        .bioImg{
            width:109px;
            margin-right:129px;
        }
    }
    h2{
        font-family: 'Pragmatica';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 24px;
        font-feature-settings: 'salt' on;
        color: #000000;
        margin-bottom:10px;
    }

}
.ibioArtworks{
    padding-left:10px;
    padding-right:10px;   
}
.shopSearching{
    padding-left:10px;
    padding-top:38px;
    gap:10px;
    padding-right:10px;
    display:flex;
    justify-content: space-between;
    align-items: end;
    ul{
        padding:0px;
        margin:0px;
    }
    li{
        font-family: 'Loos Normal';
        font-style: normal;
        font-weight: 400;
        cursor:pointer;
        font-size: 32px;
        line-height: 32px;
        font-feature-settings: 'salt' on;
        color: #000000;
        opacity: 0.1;
    }
    li.active{
        opacity:1;
    }
    .searchBox{
        border-bottom:1px solid #000;
        padding-right:20px;
        padding-bottom:9px;
        width:20%;
    }
    .searchTitle{
        width:40%;
        input{
            position:relative;
            top:7px;
            border:0px;
            font-family: 'Loos Normal';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 32px;
            font-feature-settings: 'salt' on;
            color: #000000;
            opacity: 0.2;
        }

        button{
            position:relative;
            top:7px;
            width:24px;
            height:24px;
            background:url('../assets/icons/searchIcon.svg')no-repeat;
            border:0px;
            margin-right:15px;
        }
    }
}
.MuiSlider-thumb{
    border-radius:0px!important;
    width:1px!important;
    height:15px!important;
    margin-left:0px!important;
    margin-right:0px!important;
    border-right:0px!important;
    margin-top:-7.5px!important;
}
.MuiSlider-markLabel{
    top:-25px!important;
    font-family: 'Loos Normal'!important;
    font-style: normal;
    font-weight: 400!important;
    font-size: 32px!important;
    line-height: 32px!important;
    font-feature-settings: 'salt' on;
    color: #000000;
}
.MuiSlider-marked{
    margin-bottom:0px!important;
    padding-bottom:0px!important;
    top:16px!important;
}
.MuiSlider-rail,.MuiSlider-track{
    height:1px !important;
}
.searchYears{
    padding-left:40px;
    padding-right:40px!important;
}
.searchPrice{
    input{
        border:0px;
        font-family: 'Loos Normal';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        font-feature-settings: 'salt' on;
        color: #000000;
        opacity: 0.2;
        position: relative;
        top:7px;
    }
}
.searchBox.clear{
    padding-bottom:0px;
    button{
        font-family:'MonumentGrotesk-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 41px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-feature-settings: 'salt' on;
        color: #000000;
        display:block;
        width:109px!important;
        height:41px;
        border:0px;
        cursor:pointer;
        background:0px;
        border-top:1px solid black;
    }
    width:109px!important;
}
.shopG{
    padding-left:10px;
    padding-right:10px;
    padding-top:23px;
}
.productShow{
    padding-top:72px;
    padding-left:10px;
    padding-right:10px;
    .prod{
        display:flex;
        align-items: center;
    }
    .main-pic{
        height:calc(100vh - 70px);
    }
    .picsNum{
        width:109px;
        text-align: center;
        font-family: 'MonumentGrotesk-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        font-feature-settings: 'salt' on;
        color: #000000;
        margin-right:10px;
        .borderT{
            width:100%;
            display:block;
            height:1px;
            border-top:1px solid black;
            margin-top:8px;
            margin-bottom:8px;
        }
    }
    .prodPic{
        margin-right:9px;
        width:calc(100% - 477px);
        text-align: center;
    }
    .prodDetails{
        width:348px;
        height:calc(100vh - 70px);
        .title{
            position:relative;
            height:50%;
            ul{
                padding:0px;
                margin:0px;
                position: absolute;
                bottom:0;
                padding-bottom:9px;
                width:100%;
                border-bottom:1px solid black;
                li{
                    float:left;
                    width:50%;
                    a{
                        text-decoration: none;
                        font-family: 'MonumentGrotesk-Regular';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 16px;
                        font-feature-settings: 'salt' on;
                        color: #000000;
                        display:block;
                        span{
                            float:left;
                            margin-right:9px;
                        }
                    }
                }
            }
        }
        p{
            font-family: 'MonumentGrotesk-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            font-feature-settings: 'salt' on;
            color: #000000;
            margin-bottom:4px;
        }
        h1{
            font-family: 'Loos Normal';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 32px;
            font-feature-settings: 'salt' on;
            color: #000000;
            text-align: left;
            margin-bottom:12px;
        }
        .size{
            float:left;
            width:50%;
        }
        .size{
            p{
                margin-bottom:0px;
            }
        }
        .orig{
            margin-top:16px;
        }
    }

    .description{
        height:50%;
        padding-top:8px;
        position:relative;
        .text{
            font-family: 'MonumentGrotesk-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            font-feature-settings: 'salt' on;
            color: #000000;
        }
        ul{
            padding:0px;
            margin:0px;
            position:absolute;
            bottom:0;
            width:100%;
            li{
                float:left;
            }
            li:first-child{
                text-align: center;
                width:30%;
                margin-right:10px;
            }
            li:last-child{
                width:calc(70% - 10px);
                button{
                    background:transparent;
                    border:0px;
                    font-family: 'MonumentGrotesk-Regular';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    letter-spacing: 0.06em;
                    text-transform: uppercase;
                    font-feature-settings: 'salt' on;
                    color: #000000;
                    border-top:1px solid black;
                    border-bottom:1px solid black;
                    cursor:pointer;
                    width:100%;
                    display:block;
                    padding-top:12px;
                    padding-bottom:12px;
                }
            }
            .price{
                font-family: 'MonumentGrotesk-Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                margin-bottom:0px;
                font-feature-settings: 'salt' on;
                color: #000000;
                padding-top:13px;
                padding-bottom:12px;
                border-bottom:1px solid black;
                .currency{
                    position: relative;
                    top:1px;
                    margin-right:5px;
                }
            }
        }
    }
}
h1.related{
    text-align: left;
    font-family: 'Pragmatica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'salt' on;
    padding-top:64px;
    color: #000000;
    margin-bottom:10px;
}
.paddingLeft{
    padding-right:10px;
    padding-left:10px;
}
.galleryPage{
    padding-top:55px;
    .galleryItem{
        border-top:1px solid black;
      
        display:flex;
        justify-content: space-between;
        .text{
            padding-top:19px;
            width:50%;
        }
        .title{
            padding-top:19px;
            font-family: 'Loos Normal';
            font-style: normal;
            font-weight: 400;
            font-size: 72px;
            line-height: 72px;
            font-feature-settings: 'salt' on;
            color: #000000;
            width:30%;
        }
        p{
            font-family: 'MonumentGrotesk-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;            
            font-feature-settings: 'salt' on;
            color: #000000;
        }
        p.location{
            margin-top:20px;
        }
        a{
            text-decoration: none;
        }
        .custom-button{
            border:0px;
            background:transparent;
            display:block;

            font-family: 'MonumentGrotesk-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 43px;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            font-feature-settings: 'salt' on;
            color: #000000;
            width:227px;
            border-bottom:1px solid black;
            height:40px;
        }
    }
}
.galleryShow{
    padding-top:56px;
    h1{
        font-family: 'Loos Normal';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 72px;
        font-feature-settings: 'salt' on;
        color: #000000;
        text-align: left;
    }
    h1.galleryArtworks{
        margin-top:61px;
        font-family: 'MonumentGrotesk-Medium';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        font-feature-settings: 'salt' on;
        color: #000000;
        margin-bottom:10px;
    }
    .galPic{
        margin-top:162px;
        width: 100%;
    }
    .text{
        p{
            font-family: 'MonumentGrotesk-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            font-feature-settings: 'salt' on;
            color: #000000;
        }
    }
}
.fullgaller{
    display:flex;
    .titlePage{
        width:30%;
    }
    .text{
        margin-left:88px;
        position:relative;
        width:40%;
    }
    .location{
        position:absolute;
        bottom:0;
    }
}

h1.not_found{
    font-family: 'Loos Normal';
    font-style: normal;
    font-weight: 400;
    font-size: 144px;
    line-height: 181px;
    text-align: center;
    font-feature-settings: 'salt' on;
    color: #000000;
}
p.no_page{
    font-family: 'Loos Normal';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1px;
    text-align: center;
    font-feature-settings: 'salt' on;
    color: #000000;
}
.profile{
    padding-top:72px;
    .bUpdate{
        margin-right:110px;
        position:relative;
        width:110px;
        input{
            position:absolute;
            top:0;
            left:0;
            height:110px;
            opacity:0;
        }
    }
    .profileBioUp{
        display:flex;
        justify-content: space-between;
        h1{
            font-family: 'Loos Normal';
            font-style: normal;
            font-weight: 400;
            font-size: 72px;
            line-height: 72px;
            font-feature-settings: 'salt' on;
            color: #000000;
            max-width: 300px;
            text-align: left;
        }
        textarea{
            width:467px;
            height:192px;
            resize:none;
            border:0px;
            background: #F7F7F7;
            padding:12px;

            font-family: 'MonumentGrotesk-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            font-feature-settings: 'salt' on;
            color: rgba(0,0,0,0.2);

        }
        button{
            width: 110px;
            height: 40px;
            border-width: 1px 0px;
            border-style: solid;
            border-color: #000000;
            background:transparent;
            display:block;
            margin-top:42px;
            font-family: 'MonumentGrotesk-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
        }
    }
}
.addArtwork{
    background:#F7F7F7;
    text-align: center;
    position: relative;
    a{
        text-decoration:none;
        display:block;
        padding-top:100px;
        padding-bottom:100px;
        span{
            position:absolute;
            bottom:12px;
            display:block;
            width:100%;
            text-align: center;

            font-family: 'MonumentGrotesk-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            font-feature-settings: 'salt' on;
            color: #000000;
        }
    }
}
.details{
    display:flex;
    justify-content: space-between;
    .deliveryDetails{
        h1{
            font-family: 'MonumentGrotesk-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 32px;
            font-feature-settings: 'salt' on;
            color: #000000;
            padding-left:10px;
        }
  
    }
    input{
        display:block;
        background:transparent;
        border:0px;
        border-bottom: 1px dashed #B3B3B3;
        width:100%;
        margin-bottom:17px;
    }
    .contact-form.dashboard{
        width:80%;
        display:flex;
        justify-content: space-between;
        .form{
            width:70%;
        }
        .updateAddress{
            border-width: 1px 0px;
            border-style: solid;
            border-color: #000000;
            width:228px;
            cursor:pointer;
        }
    }
}
.allMenu.inProfile{
    padding-left:0px;
    border-bottom:1px solid black;
}
.allMenu.inProfile li{
    width:30%;
}
.allMenu.inProfile li:first-child,.allMenu.inProfile li:last-child{
    width:20%;
}
.addPage{
    display: flex;
    justify-content: space-between;
 
    .labelName{
        font-family: 'MonumentGrotesk-Medium';
        font-style: normal;
        max-width:348px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        font-feature-settings: 'salt' on;
        color: #000000;
    }
    .picBox{
        display:flex;
        justify-content: space-between;
     
    }
    .picture{
        
          
        a{
            background:#F7F7F7; 
            position:relative;
            display:block;
            width:372px;
            height:352px;
            text-align: center;
            line-height:352px;
            img{
                max-width:372px;
                max-height:352px;
            }
            input{
                position:absolute;
                top:0;
                width:100%;
                opacity:0;
                left:0;
            }
        }
    }
    .addonImages.picBox{
        margin-top:8px;
        justify-content: left;
        
        .picture{
            margin-left:28px;
         .pics{
            background:transparent;
         }
            a{
                margin-right:8px;
                width:119px;
                height:112px;
                line-height:112px;
                display:inline-block;
                background: #F7F7F7;
                img{
                    max-width:119px;
                    max-height:112px;
                }
            }
            a.lastM{
                margin-right:0px;
            }
        }
    }
}
.smallSize{
    margin-top:12px;
    font-size:12px!important;
}
.submitArtwork.dashboard{
    display:flex;
    justify-content: space-between;
    width:calc(100% - 629px);
    .labelName{
        margin-top:25px;
        margin-bottom:4px;
    }
    .firstForm{
        width:80%;
    }
    select{
        width:100%;
        border:0px;
        background: transparent;
        border-bottom: 1px dashed #B3B3B3;
        font-family: 'MonumentGrotesk-Medium';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        font-feature-settings: 'salt' on;
        color: #B3B3B3;
    }
    input{
        background:transparent;
        border:0px;
        border-bottom: 1px dashed #B3B3B3;
        font-family: 'MonumentGrotesk-Medium';
        font-style: normal;
        font-weight: 400;
        width:100%;
        font-size: 12px;
        line-height: 16px;
        font-feature-settings: 'salt' on;
        color: #B3B3B3;
    }
    textarea{
        background:#F7F7F7;
        border:0px;
        padding:8px;
        height:160px;
        font-family: 'MonumentGrotesk-Medium';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        width:100%;
        line-height: 16px;
        font-feature-settings: 'salt' on;
        color: #B3B3B3;
    }
}
.relative{
    position:relative;
}
.cm{
    position:absolute;
    right:10px;
    top:0;
    font-family: 'MonumentGrotesk-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    font-feature-settings: 'salt' on;
    color: #B3B3B3;
}
.fees{
    border-bottom:1px solid black;
    font-family: 'MonumentGrotesk-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    font-feature-settings: 'salt' on;
    color: #B3B3B3;
    span{
        float:right;
        font-family: 'MonumentGrotesk-Medium';
        font-size:16px;
        color:#000;
    }
    .totalText{
        font-size:16px;
        top:-25px;
        color:#000;
    }
}
.submitArtworkButton{
    border:0px;
      width: 228px;
    height: 225px;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
    background: transparent;
    margin-left:129px;

    font-family: 'MonumentGrotesk-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-feature-settings: 'salt' on;
    color: #000000;
}
.noMargin{
    margin-top:0px!important;
}
.cartPage{
    padding-left:7px;
    padding-right:7px;
    padding-top:74px;
    h1{
        font-family: 'Loos Normal';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 72px;
        font-feature-settings: 'salt' on;
        color: #000000;
        text-align: left;
    }
}
.shipInfo{
    padding-top:92px;
    input{
        width:100%;
        display:block;
        background:transparent;
        border:0px;

        font-family: 'MonumentGrotesk-Medium';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        font-feature-settings: 'salt' on;
        color: #000000;
        margin-bottom:9px;
        padding-bottom:4px;
        border-bottom: 1px dashed #CCCCCC;
    }
    input::placeholder{
        opacity:0.2;
    }
}
.checkout{
    padding-top:100px;
    h1{
        font-family: 'MonumentGrotesk-Medium';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 32px;
        font-feature-settings: 'salt' on;
        color: #000000;
        margin-bottom:6px;
    }
    p{
        font-family: 'MonumentGrotesk-Medium';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;        
        font-feature-settings: 'salt' on;                
        color: #000000;
        span{
            font-family: 'MonumentGrotesk-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: right;
            font-feature-settings: 'salt' on;
            color: #000000;
            float:right;
        }
    }
    p.total_amount{
        margin-top:10px;
        span{
            font-size:32px;
        }
    }
    .payNow{
        background:transparent;
        border:0px;
        margin-top:2px;
        border-width: 1px 0px;
        border-style: solid;
        border-color: #000000;
        width:100%;
        height:48px;

        font-family: 'MonumentGrotesk-Medium';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-feature-settings: 'salt' on;
        color: #000000;

    }
}